.swiper {
  overflow: visible !important; // Make sure Swiper wrapper doesn't clip the 3D effect
}

.swiper-slide {
  overflow: visible;
}

.reflection-slide {
  overflow: visible;
}

.container {
  overflow: visible !important;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  background: rgba(255, 255, 255, 0.8) !important;
  border-radius: .75rem;
}

.hero {
  background-color: rgba(0, 0, 0, 0.02);
}